API_ID=123456
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here

USERS_MONGO_URI=mongodb+srv://user:pass@users.mongodb.net/users_db?retryWrites=true&w=majority
BOT_MONGO_URI=mongodb+srv://user:pass@bot.mongodb.net/bot_db?retryWrites=true&w=majority
CACHE_MONGO_URI=mongodb+srv://user:pass@cache.mongodb.net/cache_db?retryWrites=true&w=majority

WEBAPP_URL=https://your-mini-app-domain.com
PORT=8000

